*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    background: url(./wallpaper.jpg) no-repeat center fixed;
    background-size: cover;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.heading{
    color: white;
    font-size: 2.5rem;
    margin-top: 10%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.boxes{
    display: flex;
    padding-top: 7%;
    width: 100%;
    justify-content: space-evenly;
}

.timer-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 2rem;
}
.timer-box input{
    display: flex;
    min-height: 3.7rem;
    border: 4px solid transparent;
    border-radius: 6px;
}

.timer-box label{
    margin-top: 1.5rem;
}